/*regra css3*/

h1{
    color:red;
}
.link{
    display: inline;
    margin: 5%;
}
.cabecalho{
    background-color: blue;
}
h1{
    font-family: 'Times New Roman', serif;
}
h2{
    font-family: 'Times New Roman', serif;
}
nav{
    font-weight: bold;
}
.container{
    margin: 20px;
}
#conteudo{
    line-height: 1.5em;
}
form{
    border: 1px solid gray;
    padding: 10px;
}